#board{
    background-color:antiquewhite;
    width: 100%;
    height: 100%;
}
#toolbar{
    position:absolute;
}
#canvas{
    position: absolute;
}
.line_menu{
    position:absolute;
}
.line_button{
    position:absolute;
    background-color: rgba(255, 255, 255, 0.5);
}
.snap_menu{
    border-radius: 15px;
    padding: 10px;
    position:absolute;
    /*display: grid;*/
    background-color: rgba(128, 128, 128, 0.5);
}
.snap_button{
    background-color: rgba(255, 255, 255, 0.0);
    float: right;
}
.snap_label{
    float: right;
}
body{
    background-color: slategrey;
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 25px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;  
}
.tool{
    float: inline-start;
}
.tool_pressed{
    float: inline-start;
    background-color:rgb(124, 124, 124);
}